<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>RideIntercom Invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rideintercom</string>
			</array>
		</dict>
	</array>
		<key>NSBonjourServices</key>
		<array>
			<string>_ride-intercom._tcp</string>
		</array>
		<key>NSLocalNetworkUsageDescription</key>
		<string>RideIntercom uses the local network to discover and connect nearby riders in your group.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>RideIntercom uses the microphone so riders in your group can hear your voice.</string>
</dict>
</plist>
